<?xml version="1.0" encoding="utf-8" ?>
<Theme title="Bake Delights Theme" 
	   supportRTL="false"
	   mobileTheme="false"
     previewImageUrl="~/Themes/BakeDelightsTheme/BakeDelights-Theme.png"
     previewText="Beautifully designed theme for selling bakery items and other bakery related products on top of nopCommerce. Gives attractive look and feel to your store. Built on top of Bootstrap using latest HTML5 and CSS3 Techniques.">
</Theme>